@font-face {
	font-family: 'Conv_Verlag-Book';
	src: url('../fonts/Verlag-Book.eot');
	src: local('☺'), url('../fonts/Verlag-Book.woff') format('woff'), url('../fonts/Verlag-Book.ttf') format('truetype'), url('../fonts/Verlag-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Verlag-Black';
	src: url('../fonts/Verlag-Black.eot');
	src: local('☺'), url('../fonts/Verlag-Black.woff') format('woff'), url('../fonts/Verlag-Black.ttf') format('truetype'), url('../fonts/Verlag-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Verlag-Light';
	src: url('../fonts/Verlag-Light.eot');
	src: local('☺'), url('../fonts/Verlag-Light.woff') format('woff'), url('../fonts/Verlag-Light.ttf') format('truetype'), url('../fonts/Verlag-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Verlag-Bold';
	src: url('../fonts/Verlag-bold.eot');
	src: local('☺'), url('../fonts/Verlag-Bold.woff') format('woff'), url('../fonts/Verlag-Bold.ttf') format('truetype'), url('../fonts/Verlag-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Verlag-XLight';
	src: url('../fonts/Verlag-XLight.eot');
	src: local('☺'), url('../fonts/Verlag-XLight.woff') format('woff'), url('../fonts/Verlag-XLight.ttf') format('truetype'), url('../fonts/Verlag-XLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	 background: url("../images/bg.png") no-repeat center center;
	 font-family: "Conv_Verlag-Book", Helvetica, Arial, sans-serif;
	 background-size: cover;
}
.no-mar {
    margin: 0 !important;
}
.shadow-text {
    text-shadow: -4px -4px 0px #a3005c
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
    background-color: transparent;
}
.user-page-body {
    background: url("../images/compress.png") top center no-repeat;
}
a:hover,a:focus{
	text-decoration: none;
}
.ticket-value-blk {
	font-family: 'Conv_Verlag-XLight';
}
.number-table,.numbers-button,.transaction-list {
	font-family: 'Conv_Verlag-Bold';
}
header {
	font-family: 'Montserrat', sans-serif;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.header-navbar h1 {
	margin-top: 13px;
}
.header-navbar .list-inline {
	margin-top: 18px;
}
.header-navbar h1 img {
	max-width: 70%;
}
.header-navbar .navbar-nav > li > a {
    padding: 20px 25px;
    font-size: 12px;
}
.header-navbar .navbar-nav > li > a:hover,.header-navbar .navbar-nav > li > a:focus {
	color: #f1f1f1;
}
.header-navbar .list-inline a,.header-navbar .navbar-nav > li > a {
	color: #fff;
}
.header-navbar .list-inline > li:last-child {
	padding-right: 0;
}
.header-navbar .list-inline > li {
	padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
}
.header-navbar .dropdown-menu  {
	border-radius: 0;
    margin-top: 10px;
}
.header-navbar .dropdown-menu a {
	color: #000;
	font-size: 12px;
	padding: 10px;
}
.user-circle {
	display: inline-block;
    padding: 0px;
    width: 21px;
    vertical-align: middle;
    height: 21px;
    margin: 0px 5px;
    border-radius: 50%;
}
.section-container {
	max-width: 800px;
	margin: auto;
	padding: 0px 5px;
}
.number-list {
    margin-top: 50px;
    font-family: 'Conv_Verlag-Book';
}
.number-list .list-inline li {
	padding: 3px 3px;
}
.number-list .list-inline img {
    height: 23px;
}
.number-list .list-inline a {
	background: rgba(255, 255, 255, 0.21);
    padding: 17px 16px;
    color: #fff;
    text-align: center;
    width: 79px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    border-radius: 3px;
    webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}
.number-list .list-inline a:after {
	width: 160%;
    height: 0;
    top: 50%;
    left: 50%;
    background: rgba(255, 255, 238, 0.2);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}
.number-list .list-inline a:hover:after ,.number-list .list-inline a:focus:after { 
	height: 160%;
    opacity: 1;
}	
.box-img {
	 background: url(../images/box.png) no-repeat;
    height: 330px;
    padding: 20px;
    width: 100%;
}
.number-table {
    padding: 8px 8px 43px 8px;
}
.numbers-button {
	max-width: 690px;
    margin: auto;
}
.numbers-button .btn-primary {
	padding: 2px 26px;
	float: left;
    border-radius: 0;
    font-size: 40px;
    color: #3b004c;
    height: 64px;
    background-color: #fbbc20;
    border-color: #fbbc20;
}
.gold-bg {
	background: url(../images/gold.png) no-repeat;
    height: 150px;
    float: left;
    width: 16.6%;
}
.astrick-bg {
	background: url(../images/astrick.png) no-repeat;
    height: 140px;
    margin-top: 7px;
    width: 16.3%; 
    position: relative;
    float: left;
    vertical-align: middle;
}
.circle-dashed {
	background: url(../images/circle.png) center no-repeat;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
}
.ticket-value-blk h3 {
	font-size: 70pt;
	 line-height: 0.8;
	 text-shadow: 1px 1px 1px #423e3e;
	 margin-bottom: 0;
}
.ticket-value-blk p {
    text-transform: capitalize;
    font-size: 14pt;
}
.ticket-value-blk  sup {
    font-size: 14px;
    top: -42px;
    left: -10px;
}
.dashed-inner {
	padding-top: 130px;
    max-width: 186px;
    margin: auto;
    text-align: left;
}
.dashed-inner h3 {
	text-shadow: -4px -4px 0px #a3005c;
}
.number-ticket {
	position: relative;
    z-index: 9999;
}
.number-ticket > .list-unstyled > li {
	float: left;
	width: 15%;
}
.inner-cell {
	display: table;
    height: 100%;
    width: 100%;
}
.inner-cell h3 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 80px;
    color: #3b004c;
    font-weight: bold;
}
.ticket-added {
	min-width: 330px;
    min-height: 72px;
    box-shadow: -6px 2px 9px 1px rgba(60, 58, 58, 0.45);
    padding: 23px 22px !important;
    color: #fff !important;
    font-size: 16px !important;
    border-color: #008bc6 !important;
    font-weight: bold;
    text-transform: uppercase;
background: rgba(0,139,198,1);
background: -moz-linear-gradient(top, rgba(0,139,198,1) 0%, rgba(0,139,198,1) 15%, rgba(0,139,198,1) 43%, rgba(38,156,206,1) 58%, rgba(188,224,238,1) 98%, rgba(179,220,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,139,198,1)), color-stop(15%, rgba(0,139,198,1)), color-stop(43%, rgba(0,139,198,1)), color-stop(58%, rgba(38,156,206,1)), color-stop(98%, rgba(188,224,238,1)), color-stop(100%, rgba(179,220,237,1)));
background: -webkit-linear-gradient(top, rgba(0,139,198,1) 0%, rgba(0,139,198,1) 15%, rgba(0,139,198,1) 43%, rgba(38,156,206,1) 58%, rgba(188,224,238,1) 98%, rgba(179,220,237,1) 100%);
background: -o-linear-gradient(top, rgba(0,139,198,1) 0%, rgba(0,139,198,1) 15%, rgba(0,139,198,1) 43%, rgba(38,156,206,1) 58%, rgba(188,224,238,1) 98%, rgba(179,220,237,1) 100%);
background: -ms-linear-gradient(top, rgba(0,139,198,1) 0%, rgba(0,139,198,1) 15%, rgba(0,139,198,1) 43%, rgba(38,156,206,1) 58%, rgba(188,224,238,1) 98%, rgba(179,220,237,1) 100%);
background: linear-gradient(to bottom, rgba(0,139,198,1) 0%, rgba(0,139,198,1) 15%, rgba(0,139,198,1) 43%, rgba(38,156,206,1) 58%, rgba(188,224,238,1) 98%, rgba(179,220,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008bc6', endColorstr='#b3dced', GradientType=0 );
}
.buy-now {
	min-height: 62px;
    padding: 21px 22px !important;
    font-size: 16px !important;
    font-weight: bold;
    min-width: 185px;
    text-transform: uppercase;
}
.random-btn {
	width: 167px !important;
    font-size: 12pt !important;
    line-height: 49px;
    height: 75px;
    font-weight: 600 !important;
}
.ticket-value-blk {
	color: #fff;
    padding: 130px 0px 0px 0px;
    position: relative;
}
/* -- modal box css --*/
.modal-open .modal {
    background: rgba(0, 0, 0, 0.82);
}
.transaction-modal .modal-content{
    background-color: transparent;
    box-shadow: none;
    border-color: transparent;
}
.modal-header {
    border: 1px solid transparent;
}
.transaction-modal h4 {
    text-transform: uppercase;
    font-size: 23px;
    color: #fff;
    line-height: 1.4;
	font-family: 'Conv_Verlag-XLight';
    margin-bottom: 25px;
    max-width: 287px;
}
.transaction-modal h4 span {
	font-family: 'Conv_Verlag-Bold';
    letter-spacing: 1px;
 }
 .transaction-modal .list-unstyled > li {
	padding: 4px 13px 9px 12px;
    background-color: #fff;
    width: 55px;
    margin: 0px 0px 5px 0px;
    text-align: center;
    font-family: 'Conv_Verlag-Black';
    float: left;
    color: #3b004c;
    font-size: 30px;
}
.transaction-modal .list-unstyled > li:first-child{
   border-radius: 3px 0px 0px 3px;
}
.transaction-modal .list-unstyled > li:last-child{
    border-radius: 0px 3px 3px 0px;
}
.transaction-list {
    max-width: 390px;
    max-height: 426px;
    overflow-y: auto;
    overflow-x: hidden;
}
.transaction-list    label {
	font-family: 'Conv_Verlag-Light';
    display: block;
    background-color: #ffffff;
    height: 55px;
    margin: 0;
	color: #000;
    padding: 14px 15px;
    letter-spacing: 1px;
    font-size: 18px;
    border-radius: 2px 0px 0px 2px;
}
.tickets-modal .list-unstyled > li {
        background-color: #ffcf3e;
}
.tickets-modal  form {
    margin: 0px 75px 15px 0px;
}
.tickets-modal .form-control {
    font-family: 'Conv_Verlag-Book' !important;
    font-size: 20px !important;
}
.tickets-modal .form-control,.tickets-modal .input-group .btn {
    height: 55px;
    border-radius: 0;
    font-size: 14px;
    font-family: 'Conv_Verlag-Black';
}
.tickets-modal .input-group .btn-default{
    background-color: #dadada;
}
.tickets-modal .input-group .btn{
    width: 110px;
    text-transform: uppercase;
}
.tickets-modal .input-group .btn-danger,.modal-inner-tickets .btn-danger{
    background-color: #f90021;
	border-color: #f90021;
	border-radius: 2px;
}
.tickets-modal h4 {
    max-width: 100%;
    font-family: 'Conv_Verlag-XLight';
    font-size: 80px;
    line-height: normal;
    margin-bottom: 5px;
}
.tickets-modal h4 span {
    font-size: 18px;
    color: #9d9ca1;
}
.tickets-modal .transaction-list {
    max-width: 480px;
} 
.close-times-white {
    background-color: #fff !important;
}
.modal-inner-tickets {
    color: #fff;
    padding-left: 25px;
    margin-bottom: 80px;
    font-family: 'Conv_Verlag-XLight';
} 
.modal-inner-tickets h3 {
    font-size: 64pt;
    line-height: 58px;
} 
.modal-inner-tickets p {
    font-size: 18px;
    color: #9d9ca1;
}
.modal-inner-tickets sup{
    font-size: 14px;
    top: -40px;
}
.modal-inner-tickets .btn-danger {
    color: #fff;
    font-size: 18px;
    margin: 20px 0px;
    border-radius: 2px;
    font-family: 'Conv_Verlag-Bold';
    font-weight: 600;
    line-height: 39px;
    text-transform: uppercase;
    padding: 10px 28px 6px 28px;   
 } 
 .box-1 {
    position: absolute;
    top: -20px;
    left: -40px;
 } 
 .box-2 {
    position: absolute;
    top: -40px;
    right: -71px;
} 
.user-page-body .box-img {
    position: relative;
    height: 400px;
}
.congart-box h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 80px 0px 30px 0px;
    font-family: 'Conv_Verlag-Bold';
    font-size: 44px;
    font-weight: bold;
    text-shadow: -6px 5px 8px #151414;
}
.congart-box h3 span {
    font-family: 'Conv_Verlag-XLight';
    text-shadow: none;
 }   
.amount-user .panel{
    min-height: 125px;
    border-radius: 0;
    padding: 10px;
    max-width: 700px;
    color: #fff;
    border-bottom: 1px solid #fff;
    margin: auto;
    background-color: #000;
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,0.98) 10%, rgba(241,111,92,0.96) 22%, rgba(246,41,12,0.92) 45%, rgba(240,47,23,0.87) 79%, rgba(255,133,84,0.84) 95%, rgba(255,133,84,0.83) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(10%, rgba(248,80,50,0.98)), color-stop(22%, rgba(241,111,92,0.96)), color-stop(45%, rgba(246,41,12,0.92)), color-stop(79%, rgba(240,47,23,0.87)), color-stop(95%, rgba(255,133,84,0.84)), color-stop(100%, rgba(255,133,84,0.83)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,0.98) 10%, rgba(241,111,92,0.96) 22%, rgba(246,41,12,0.92) 45%, rgba(240,47,23,0.87) 79%, rgba(255,133,84,0.84) 95%, rgba(255,133,84,0.83) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,0.98) 10%, rgba(241,111,92,0.96) 22%, rgba(246,41,12,0.92) 45%, rgba(240,47,23,0.87) 79%, rgba(255,133,84,0.84) 95%, rgba(255,133,84,0.83) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 0%, rgba(248,80,50,0.98) 10%, rgba(241,111,92,0.96) 22%, rgba(246,41,12,0.92) 45%, rgba(240,47,23,0.87) 79%, rgba(255,133,84,0.84) 95%, rgba(255,133,84,0.83) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 0%, rgba(248,80,50,0.98) 10%, rgba(241,111,92,0.96) 22%, rgba(246,41,12,0.92) 45%, rgba(240,47,23,0.87) 79%, rgba(255,133,84,0.84) 95%, rgba(255,133,84,0.83) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ff8554', GradientType=0 );
}
.amount-user .list-unstyled > li {
    float: left;
    padding: 0px 15px;
    width: 25%;
}
.amount-user h3 {
    font-size: 50px;
    text-transform: uppercase;
    line-height: 39px;
    font-family: 'Conv_Verlag-Bold'
}
.amount-user sup {
    font-size: 14px;
    top: -34px;
    left: -12px;
    font-family: 'Conv_Verlag-Light';
}
.amount-user p {
    font-size: 14px;
    text-transform: capitalize;
 } 
 .start-game {
    min-height: 140px;
    padding: 30px;
    margin: 50px 0px 30px 0px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 3px;
 }
 .start-game h3 {
    line-height: 40px;
    font-size: 80px;
    font-family: 'Conv_Verlag-XLight';
    text-shadow: -4px -4px 0px #a3005c;
    text-transform: capitalize;
 }
 .start-game p {
     font-size: 16px;
 }
.start-game .btn-danger {
    margin-top: 25px;
     font-family: 'Conv_Verlag-Black';
    padding: 17px 30px;
    font-size: 15px;
    text-transform: uppercase;
    background: rgba(248,80,50,1);
background: -moz-linear-gradient(top, rgba(248,80,50,1) 3%, rgba(248,80,50,0.99) 10%, rgba(246,41,12,0.95) 50%, rgba(198,0,17,0.92) 81%, rgba(198,0,17,0.9) 97%, rgba(255,133,84,0.9) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(3%, rgba(248,80,50,1)), color-stop(10%, rgba(248,80,50,0.99)), color-stop(50%, rgba(246,41,12,0.95)), color-stop(81%, rgba(198,0,17,0.92)), color-stop(97%, rgba(198,0,17,0.9)), color-stop(100%, rgba(255,133,84,0.9)));
background: -webkit-linear-gradient(top, rgba(248,80,50,1) 3%, rgba(248,80,50,0.99) 10%, rgba(246,41,12,0.95) 50%, rgba(198,0,17,0.92) 81%, rgba(198,0,17,0.9) 97%, rgba(255,133,84,0.9) 100%);
background: -o-linear-gradient(top, rgba(248,80,50,1) 3%, rgba(248,80,50,0.99) 10%, rgba(246,41,12,0.95) 50%, rgba(198,0,17,0.92) 81%, rgba(198,0,17,0.9) 97%, rgba(255,133,84,0.9) 100%);
background: -ms-linear-gradient(top, rgba(248,80,50,1) 3%, rgba(248,80,50,0.99) 10%, rgba(246,41,12,0.95) 50%, rgba(198,0,17,0.92) 81%, rgba(198,0,17,0.9) 97%, rgba(255,133,84,0.9) 100%);
background: linear-gradient(to bottom, rgba(248,80,50,1) 3%, rgba(248,80,50,0.99) 10%, rgba(246,41,12,0.95) 50%, rgba(198,0,17,0.92) 81%, rgba(198,0,17,0.9) 97%, rgba(255,133,84,0.9) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ff8554', GradientType=0 );
} 
.num-x .list-unstyled > li{
    float: left;
    width: 33.33%;
    font-size: 18px;
    font-size: 30px;
    padding: 0px 15px;
    color: #fff;
    margin: 3px 0px;
}
.num-x .list-unstyled  a {
    color: #fff;
}
.num-x .list-unstyled {
    max-width: 690px;
    margin: auto;
}   
 .transaction-modal .close,.tickets-modal  .close {
    position: absolute;
    right: 10px;
    width: 40px;
    font-size: 50px;
    color: #fff;
    top: 0;
    opacity: 1;
    outline: none;
 }
.active-model .transaction-list {
	max-width: 100%;
}
.active-green-list {
	  background: url(../images/compress.png) repeat center;
	  	position: relative;
}
.active-green-list li {
	background-color: #008001 !important;
    color: #fff !important;
}
@media screen and (max-width: 767px) {
	.number-ticket {
		padding: 0px 10px;
	}
	.box-img,.gold-bg,.astrick-bg{
		background-size: 100%;
	}
	.box-img {
		padding: 0;
		height: 100%;
	}
	.number-table {
		padding: 20px 15px 20px 15px;
	}
	.ticket-value-blk {
		 padding: 15px 15px 0px 15px;
	}
	.ticket-value-blk h3 {
		font-size: 55px;
	}
	.res-pull-none {
		float: none !important;
	}
	.circle-dashed {
		background: none;
		position: static;
		height: 100%;
	}
	.ticket-value-blk,.circle-dashed,.dashed-inner,.numbers-button {
		text-align: center;
	}
	.ticket-value-blk  sup {
		top:0;
		left:0;
	}
	.ticket-value-blk p {
		margin: 10px 0px 30px 0px;
	}
	.dashed-inner {
		max-width: 100%;
		padding: 0;
	}
	.navbar-header {
		padding: 0px 10px;
	}
	.header-navbar h1 {
		margin: 5px 0px;
	}
	.navbar-default .navbar-collapse {
		border-color: transparent;
		background: transparent;
		text-align: center;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
		border-radius: 0;
		margin: 8px 0px;
		background-color: rgba(221, 221, 221, 0.15);
	}
	.inner-cell h3 {
		display: block;
	}
	.number-table {
		padding: 10px;
	}
	.numbers-button .btn {
		margin: 10px 0px;
	}
	.numbers-button {
		max-width: 100%;
	}
}