<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>CoinBet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/pages-icons.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/login.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="assets/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="pace-white">
    <nav class="header bg-header transparent-light minimized dark" data-pages="header" data-pages-header="autoresize" data-pages-resize-class="dark">
      <div class="container relative">
        <div class="pull-left">
          <div class="header-inner">
           <a href="/"> <img src="assets/images/logo_white.png"></a>
          </div>
        </div>
        <div class="pull-right">
          <div class="header-inner">
            <div class="visible-sm-inline visible-xs-inline menu-toggler pull-right p-l-10" data-pages="header-toggle" data-pages-element="#header">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
            </div>
          </div>
        </div>
        <div class="menu-content mobile-dark pull-right clearfix" data-pages-direction="slideRight" id="header">
          <div class="header-inner">
            <ul class="menu">
              <!-- <li><a href="#" class="active">Advantages</a></li> -->
              <li><a href="assets/files/whitepaper.pdf" target="_new">WhitePaper</a></li>
              <li><a href="faq">FAQ</a></li>
              <li class="text-center">
                <a href="#" class="btn btn-primary btn-cons font-montserrat" role="button" data-toggle="modal" data-target="#login-modal">LOGIN</a>
              </li>
              <li class="text-center">
                <a href="#" class="btn btn-primary btn-cons font-montserrat" role="button" data-toggle="modal" data-target="#register-modal">REGISTER</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <section class="jumbotron full-width" data-pages-bg-image="assets/images/mainheader.png" data-pages="parallax" data-bg-overlay="black" data-overlay-opacity="0.4">
      <div class="inner full-height">
        <div class="container-xs-height full-height">
          <div class="col-xs-height col-middle text-left">
            <div class="container">
              <div class="col-md-12 m-t-100 m-b-100 p-t-50 text-center">
                <h1 class="light text-white xs-p-t-30 sm-p-b-30">Pre Sales Started</h1>
                <h5>Invest in Pre ICO and receive 40% bonus today!</h5>
                <div class="clock countdown" style="margin:2em;"></div>
                <div class="message"></div>
                <h5>Pre-Sales Ends at 12th October 2017</h5>
                <div class="row countdown">
                    <div class="col-sm-4"><h5>Total LOTC Sales</h5><h5>300,000,000</h5></div>
                    <div class="col-sm-4"><h5>Today Bonus</h5><h5>+ 40% Bonus</h5></div>
                    <div class="col-sm-4"><h5>1 Ethereum (ETH)</h5><h5>2,000 ​LOTC</h5></div>
                  </div>
                  
                <h1><a href="#" class="btn btn-primary btn-cons font-montserrat" role="button" data-toggle="modal" data-target="#participate-modal">Participate</a></h1>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="text-center p-b-85 p-t-75">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p class="l-txt">Coinbet is the first ever gaming platform that uses Ethereum smart contracts. Coinbet has created a revolution in the gamming industry by implementing the blockchain technology and has made the platform as a decentralised one which is the nature and the core concept of this technology. Any one from any part of this world can participate in this gamming platform and the only requirement to use the platform is just to have an internet connection and you will be all set to enjoy the benefits that the coinbet has to offer you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-b-85 p-b-65">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="m-t-5">How does CoinBet change</br> the lotto market?</h1>
            <p class="l-txt m-b-60">CoinBet Lotto offers a new approach to the arrangement and staging of lottery games. Thanks to blockchain technology and Ethereum smart contracts we have forever eliminated the most crucial disadvantages of the most popular game in the world.</p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 no-padding">
            <div class="p-r-40 md-pr-30">
              <img alt="" class="m-b-20" src="assets/images/icon_001.png">
              <h4>100%</br>fair play</h4>
              <p class="m-b-30">The decision and logc behind the draw is based on the Ethereum smart contract hence there will be no hidden logic and it will be transparent to everyone. Betcoin This us to maintains 100% genuine play.</p>
            </div>
            <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
          </div>
          <div class="col-sm-4 no-padding">
            <div class="p-r-40 md-pr-30">
              <img alt="" class="m-b-20" src="assets/images/icon_002.png">
              <h4>Playing from any </br>part of the planet</h4>
              <p class="m-b-30">It dosen't matter which country you are in to play lotery in betcoin platform, this has been made possible with the usage of cyrptocurrencies. Betcoin proudly says that this is the first of it's kind to allow people from anywhere in the planet can participate in online lottery. Sky is the limit.</p>
            </div>
            <div class="visible-xs b-b b-grey-light m-t-30 m-b-30"></div>
          </div>
          <div class="col-sm-4 no-padding">
            <div class="p-r-40 md-pr-30">
              <img alt="" class="m-b-20" src="assets/images/icon_003.png">
              <h4>Instant </br>payouts</h4>
              <p class="m-b-30">The Coinbet LOTC prizes paid automatically as soon as the draw is completed.There is no decision makkers or middle man to process the payment, it is all handled by the smart contracts and 100% automated.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="center">
    <h1 class="m-t-5">Road Map</h1>
    <h3>It is our goal to build one of the first truly decentralized lottery based completely on the Ethereum Blockchain. </h3>
    <img src="assets/images/road-map.jpg" class="roadmap"/>
  </section>

    <section class="p-b-10 p-b-15 bg-table">
            <div class="container countdown">
              <div class="row">
                <div class="col-md-12 text-center">
                    <h1>1 ETH = 2000 LOTC</h1>
                    <h2>Minimum investment is 0.05 ETH</h2>
                    <table class="table table-bordered">
    
                        <tr class="table-active">
                          <td>Day 1:</td>
                          <td>+ 40% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 2:</td>
                          <td>+ 35% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 3:</td>
                          <td>+ 32% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 4:</td>
                          <td>+ 29% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 5:</td>
                          <td>+ 26% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 6:</td>
                          <td>+ 23% Bonus</td>
                        </tr>
                        <tr>
                          <td>Day 7:</td>
                          <td>+ 20% Bonus</td>
                        </tr>
                      </tbody></table>
          </div></div></div>        </section>
    
    <section class="p-b-85 p-t-75 bg-primary">
      <div class="container">
        <div class="md-p-l-20 md-p-r-20 xs-no-padding">
          <div class="row">
            <div class="col-md-4">
              <img alt="" src="assets/images/img_001.png">
              <h1 class="text-white">Several reason to launch your lotto with coinbet.</h1>
            </div>
            <div class="col-md-4 primary m-t-40">
              <ul>
                <li>All the conditions of the platform performance are governed by the smart contract and cannot be changed by anyone.</li>
                <!-- <li>You earn 10% from each ticket purchased from your platform by any player at 5 levels.</li>
                  -->
                <li>Only you can access your money.</li>
              </ul>
            </div>
            <div class="col-md-4 primary m-t-40">
              <ul>
                <li>The Unified powerful brand covering thousands of lotto offices in 50 countries that form the total jackpot.</li>
                <li>Multilevel revenue system with opportunities to develop your own international lotto network.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="p-b-30 p-t-20">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="no-style fs-11 no-padding font-arial">
              <li class="inline no-padding"><a href="/" class=" text-master p-r-10 b-r b-grey">Home</a></li>
              <!-- <li class="inline no-padding"><a href="#" class="hint-text text-master p-l-10 p-r-10 b-r b-grey">Advantages</a></li> -->
              <li class="inline no-padding"><a href="assets/files/whitepaper.pdf" target="_new" class="hint-text text-master p-l-10 p-r-10 b-r b-grey">Whitepaper</a></li>
              <!-- <li class="inline no-padding"><a href="#" class="hint-text text-master p-l-10 p-r-10 xs-no-padding xs-m-t-10">Terms</a></li> -->
            </ul>
          </div>
          <div class="col-sm-6 text-right font-arial sm-text-left">
            <ul class="no-style fs-12 no-padding pull-right xs-pull-left xs-m-t-20">
              <li class="inline no-padding"><a class="p-l-30 fs-16 xs-no-padding" href="https://www.facebook.com/coinbet.coinbet.3" target="_new"><i class="fa fa-facebook"></i></a></li>
              <li class="inline text-master no-padding"><a class="p-l-30 fs-16" href="https://twitter.com/coin_bet" target="_new"><i class="fa fa-twitter"></i></a></li>
              <li class="inline text-master no-padding"><a class="p-l-30 fs-16" href="https://bitcointalk.org/index.php?topic=2217354" target="_new"><i class="fa fa-btc"></i></a></li>
              <li class="inline text-master no-padding"><a class="p-l-30 fs-16" href="https://open.kakao.com/o/gWDSb5A" target="_new"><i class="fa fa-message"></i>M</a></li>
              <li class="inline text-master no-padding"><a class="p-l-30 fs-16" href="https://t.me/joinchat/AAAAAEPFW-rHL8yKlVYPDQ" target="_new"><i class="fa fa-telegram">T</i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"></div>
        </div>
      </div>
    </section>

    <!-- BEGIN # MODAL LOGIN -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" align="center">
            </div>
            <!-- Begin # DIV Form -->
            <div id="div-forms">
              <!-- Begin # Login Form -->
              <form id="loginForm"  action="/login" class="center" method="post">
               <img src="assets/images/logo.png"  width="200px"/><br/><br/>
                <div class="modal-body">
                  <!-- <div id="div-login-msg"></div> -->
                  <div id="loginError" class="red">
                  </div>
                <input type="email" class="form-control" placeholder="Email" name="email" required="" />
                <input type="password" class="form-control" placeholder="Password" name="password" required="" />
                </div>
                <div class="modal-footer">
                  <div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login"></input>
                  </div>
                </div>
              </form>
              </div>
              <script
              src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous">
              </script>
              <script>
                  $(document).ready(function() {
          
          
                $('#loginForm').submit(function(event) {
          
                  // get the form data
                  // there are many ways to get this data using jQuery (you can use the class or id also)
                  let formData = {
                    'email': $('#loginForm input[name=email]').val(),
                    'password': $('#loginForm input[name=password]').val(),
                  };
                  // process the form
                  $.ajax({
                      type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                      url: '/login', // the url where we want to POST
                      data: formData, // our data object
                      dataType: 'json', // what type of data do we expect back from the server
                      encode: true
                    })
                    // using the done promise callback
                    .done(function(data) {
                      if (data.data === 'Success') {
                        window.location.assign("/dashboard");
                      } else {
                        // here we will handle errors and validation messages
                        $('#loginForm #loginError').html("Invalid Username or Password !");
                      }
                    });
          
                  // stop the form from submitting the normal way and refreshing the page
                  event.preventDefault();
                });
              });
              </script> 
              <!-- ________________________________________ -->
              <!-- _____________________________________ -->
              <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
          </div>
        </div>
      </div>    
      <!-- END # MODAL LOGIN -->
  
    <!-- BEGIN # MODAL PARTICIPATE -->
    <div class="modal fade" id="participate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" align="center">
            </div>
            <!-- Begin # DIV Form -->
            <div id="div-forms">
              <!-- Begin # Login Form -->
              <form id="participateForm"  action="/login" class="center" method="post">
               <img src="assets/images/logo.png"  width="200px"/><br/><br/>
                <div class="modal-body">
                  <!-- <div id="div-login-msg"></div> -->
                  <div id="participateError" class="red">
                  </div>
                <input type="email" class="form-control" placeholder="Email" name="email" required="" />
                <input type="password" class="form-control" placeholder="Password" name="password" required="" />
                </div>
                <div class="modal-footer">
                  <div>
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Login"></input>
                  </div>
                </div>
              </form>
              </div>
              <script
              src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous">
              </script>
              <script>
                  $(document).ready(function() {
          
          
                $('#participateForm').submit(function(event) {
          
                  // get the form data
                  // there are many ways to get this data using jQuery (you can use the class or id also)
                  let formData = {
                    'email': $('#participateForm input[name=email]').val(),
                    'password': $('#participateForm input[name=password]').val(),
                  };
                  // process the form
                  $.ajax({
                      type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                      url: '/login', // the url where we want to POST
                      data: formData, // our data object
                      dataType: 'json', // what type of data do we expect back from the server
                      encode: true
                    })
                    // using the done promise callback
                    .done(function(data) {
                      if (data.data === 'Success') {
                        window.location.assign("/dashboard");
                      } else {
                        // here we will handle errors and validation messages
                        $('#participateForm #participateError').html("Invalid Username or Password !");
                      }
                    });
          
                  // stop the form from submitting the normal way and refreshing the page
                  event.preventDefault();
                });
              });
              </script> 
              <!-- ________________________________________ -->
              <!-- _____________________________________ -->
              <!-- End # Login Form -->
            </div>
            <!-- End # DIV Form -->
          </div>
        </div>
      </div>    
      <!-- END # MODAL PARTICIPATE -->
      
  <!-- BEGIN # MODAL REGISTER -->
  <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="register-modal" role="dialog" style="display: none;" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div align="center" class="modal-header">
        </div><!-- Begin # DIV Form -->
        <div id="div-forms">        
          <form id="signUpForm" name="signup-form" class="center"><!-- Begin # Signup Form -->
  
            <img src="assets/images/logo.png"  width="200px"/>
            <div class="modal-body">
              </div>
              <div id="signUpError" class="red">
              <input id="register_ethereum" name="ethereumAddress" class="form-control" type="text" placeholder="Ethereum Address" required>
              <input id="register_email" name="email" class="form-control" type="text" placeholder="E-Mail" required>
              <input id="register_password" name="password" class="form-control" type="password" placeholder="Password" required>
            </div>
            <div class="modal-footer">
              <div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
              </div>
          </div>
          </form><!-- End # Login Form -->  
          <script>
            $(document).ready(function() {
    
    
          $('#signUpForm').submit(function(event) {
    
            // get the form data
            // there are many ways to get this data using jQuery (you can use the class or id also)
            let formData = {
              'ethereumAddress': $('#signUpForm input[name=ethereumAddress]').val(),
              'email': $('#signUpForm input[name=email]').val(),
              'password': $('#signUpForm input[name=password]').val(),
            };
            // process the form
            $.ajax({
                type: 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url: '/register', // the url where we want to POST
                data: formData, // our data object
                dataType: 'json', // what type of data do we expect back from the server
                encode: true
              })
              // using the done promise callback
              .done(function(data) {
                if (data.status === 'success') {
                  window.alert('Your Registration is Successful. Click Login to Participate.')
                  window.location.assign("/");
                 
                  // $('#signUpForm #signUpError').html("Registration has been successfully updated");
                } else {
                  // here we will handle errors and validation messages
                  $('#signUpForm #signUpError').html("There is a Error in Registration.");
                }
              })
              .fail(function(msg) {
                window.alert('There is eror in Registration. Please Try Again Sometime.');
                window.location.assign("/");
              });
    
            // stop the form from submitting the normal way and refreshing the page
            event.preventDefault();
          });
        });
        </script> 
        </div><!-- End # DIV Form -->
      </div>
    </div>
    </div><!-- END # MODAL REGISTER -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/objectivehtml/FlipClock/master/src/flipclock/css/flipclock.css" rel="stylesheet" />
    <script src="https://cdn.rawgit.com/objectivehtml/FlipClock/master/compiled/flipclock.min.js"></script>
    <script type="text/javascript">
      var date = new Date(2017, 09, 11);
      var now = new Date();
      var diff = (date.getTime()/1000) - (now.getTime()/1000);
      
      var clock = $('.clock').FlipClock(diff,{
          clockFace: 'DailyCounter',
          countdown: true
      }); 
    </script>
    <!-- <script type="text/javascript" src="assets/js/jquery-1.11.1.min.js"></script> -->
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/pages.frontend.js"></script>

    <!-- <script type="text/javascript" src="assets/js/login.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/jquery.min.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/jquery.flipcountdown.js"></script> -->
  </body>
</html>