<!DOCTYPE html>
<html>
<head>
<title>Clever Bot</title>
</head>
<body>
<h1 style="text-align: center;">WELCOME TO CHATBOT</h1>
</body>
<script>
var str = window.location.href;
var params={};
    window.location.search
        .replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str,key,value) {
        params[key] = value;
    }
);
window.CCHAT_CONFIG = {
    EMBED_TOKEN: typeof(params.token) !== "undefined" && params.token !== null ? params.token : "f0a3dc1f865a4b349a11b78282c2ab0f",
    // HOST_URL: "https://clever.be/"
    HOST_URL: "https://stage.clever.be/"
    // HOST_URL: "http://localhost:8000/"
};
(function() {
var scriptTag = document.createElement('script');
scriptTag.type = 'text/javascript';
scriptTag.async = true;
scriptTag.src = window.CCHAT_CONFIG.HOST_URL + 'assets/bots/widget-loader.js';

var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(scriptTag, s);
})();
</script>
</html>